<!--25. 앱의 모양과 느낌 추가-->
{% load static %}
{#{% static %} 템플릿 태그는 정적 파일의 절대 URL을 생성합니다.#}

<link rel="stylesheet" href="{% static 'polls/style.css' %}">
{#정적 파일을 서로 연결할 때는 항상 **상대 경로**를 사용해야 한다. 그러면 정적 파일의 여러 경로를 수정할 필요 없이 STATIC_URL`( :ttag:`static 템플릿 태그에서 URL을 생성하는 데 사용됨)을 변경할 수 있다.#}

{% if latest_question_list %}
<!--views.py로부터 받아서-->
    <ul>
    {% for question in latest_question_list %}

    <!--12.하드코딩된 URL 제거-->
        <!--<li><a href="/polls/{{ question.id }}/">{{ question.question_text }}</a></li>-->
    
        <!--12.하드코딩된 URL 제거수정-->
    <!--polls.urls 모듈에 서술된 URL 의 정의를 탐색하는 식으로 동작-->  
    {#<li><a href="{% url 'detail' question.id %}">{{ question.question_text }}</a></li>#}
 
        
        <!--13.URL의 이름공간 정하기-->
        <li><a href="{% url 'polls:detail' question.id %}">{{ question.question_text }}</a></li>

        <!--http://127.0.0.1:8000/polls/2/-->

    {% endfor %}
    </ul>
    <!--화면에 리스트로 출력-->

{% else %}
    <p>No polls are available.</p>
{% endif %}

<!--내용없으면 No polls are available.출력-->


